*{
    box-sizing: border-box;
}

body{
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: black;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: white;
}

img[alt="Facebook"]:hover,
img[alt="Twitter"]:hover,
img[alt="Instagram"]:hover{
    transform: scale(1.5);
}

.wrapper{
    width: 75%;
    margin: 0 auto;
    padding-top: 730px;
}

header{
    display: flex;
    padding: 60px 85px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu{
    display: none;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

header nav ul{
    display: flex;
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0 50px;
}

.search{
    font-size: 17px;
    font-weight: 400;
    position: relative;
}

.search::before{
    content: url(../img/cart.png);
    position: absolute;
    left: -80%;
}

main{
    margin-top: 195px;
    color: white;
}

.follow{
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: center;
}

.follow div{
    padding: 25px 0;
}

.follow p{
    writing-mode: vertical-lr;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
}

.title{
    width: fit-content;
    margin: 0 auto;
}

h5.caption{
    color: rgba(255, 193, 120, 1);
    text-transform: uppercase;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    margin: 0;
}

h5.caption::before{
    content: "";
    height: 2px;
    width: 70px;
    background-color: rgba(255, 193, 120, 1);
    margin-right: 30px;
}

.title h1{
    font-size: 96px;
    font-weight: 700;
}

.title h1 span{
    font-size: 88px;
    font-weight: 400;
}

.scroll{
    margin-top: 125px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.scroll::after{
    content: url(../img/arrow_downward_24px.png);
    margin-left: 10px;
    position: absolute;
}

.two-frames{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-frames img,
.two-frames figcaption{
    width: 40%;
    margin-bottom: 250px;
}

.two-frames h3,
.bromo h3{
    font-size: 64px;
    font-weight: 700;
    margin: 30px 0;
}

.tenggara p:first-of-type,
.bromo p:first-of-type{
    font-size: 18px;
    font-weight: 600;
}

.read-more{
    color: #FBD784;
    position: relative;
}

.read-more::after{
    content: url(../img/arrow_yellow_right.png);
    position: absolute;
    top: 15%;
    margin-left: 5px;
}

.bromo{
    display: flex;
    text-align: center;
    background-image: url(../img/image\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    padding-bottom: 40px;
    margin-bottom: 226px;
    align-items: center;
}

.arrow{
    margin: 0 2%;
}

.bromo>article{
    display: flex;
    margin: 0 auto;
    width: 50%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 35%;
    flex-direction: column;
}

.bromo h3{
    margin: 10px 0;
}

.bromo .caption::after{
    content: "";
    height: 2px;
    width: 70px;
    background-color: rgba(255, 193, 120, 1);
    margin-left: 30px;
}

.culture p:first-of-type{
    font-size: 18px;
    font-weight: 400;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    border-bottom: 1px solid #ffffff70;
}

.btn{
    display: flex;
}

.btn p{
    font-size: 22px;
    margin-right: 55px;
}

.btn button{
    background-color: rgba(255, 163, 67, 1);
    color: black;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    padding: 23px 70px;
}

.btn button:hover,
input[type="submit"]:hover{
    background-color: rgb(255, 249, 81);
}

.bottom .logo{
    font-size: 48px;
}

footer{
    margin-top: 55px;
}

footer nav{
    display: flex;
    justify-content: space-between;
}

footer label{
    font-size: 36px;
    font-weight: 700;
}

footer nav form{
    padding-right: 20%;
}

footer nav ul{
    list-style: none;
    padding: 0 5%;
    line-height: 2;
}

footer a{
    text-decoration: none;
    color: white;
}

footer input[type="email"]{
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #ffffff50;
    width: 80%;
}

footer input[type="email"]::placeholder{
    font-size: 15px;
    color: #ffffff50;
    padding-left: 10px;
}

footer input[type="submit"]{
    width: 69px;
    height: 69px;
    border-radius: 8px 8px 0px 0px;
    background-color: #FFA343;
    color: black;
    border: none;
    border-bottom: 1px solid #ffffff50;
    background-image: url(../img/ic-keyboard-arrow-right-48px.png);
    background-position: center;
    background-repeat: no-repeat;
}

.email-form{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
}

footer nav li{
    font-size: 19px;
}

footer nav ul li:first-child{
    font-size: 20px;
    font-weight: 700;
}

footer nav ul li:first-child>a{
    color: rgba(255, 209, 160, 1);
}

.social{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

.terms-policy p{
    display: inline-block;
    padding: 0 25px;
    font-size: 15px;
}

.media img{
    margin: 0 25px;
}

.copyright{
    margin: 130px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:1200px){
    header nav a{
        font-size: 14px;
    }

    header .logo{
        font-size: 22px;
    }

    header .search{
        font-size: 15px;
    }

    .follow p{
        font-size: 16px;
    }

    .follow img{
        max-width: 20px;
    }

    .title h1{
        font-size: 88px;
    }

    .title h1 span{
        font-size: 80px;
    }

    .scroll{
        font-size: 16px;
        margin-top: 65px;
    }

    main{
        margin-top: 95px;
    }

    .wrapper{
        padding-top: 340px;
    }

    h5.caption{
        font-size: 12px;
    }

    .two-frames h3,
    .bromo h3{
        font-size: 50px;
    }

    .tenggara p:first-of-type,
    .bromo p:first-of-type{
        font-size: 16px;
    }

    .two-frames img,
    .two-frames figcaption{
        margin-bottom: 100px;
    }

    .bromo{
        margin-bottom: 100px;
    }

    .culture figcaption{
        padding-left: 20px;
    }

    .bottom .logo{
        font-size: 40px;
    }

    .btn p{
        font-size: 18px;
    }

    .btn button{
        font-size: 14px;
        padding: 14px 60px;
    }

    footer label{
        font-size: 26px;
    }

    footer nav form{
        padding-right: 8%;
    }

    footer input[type="submit"]{
        width: 45px;
        height: 45px;
    }

    footer input[type="email"]{
        width: 82%;
    }

    footer nav li{
        font-size: 17px;
    }

    footer nav ul li:first-child{
        font-size: 18px;
    }

    footer nav ul{
        margin-top: 0;
    }

    footer input[type="email"]::placeholder{
        font-size: 13px;
    }

    .social{
        margin-top: 60px;
    }

    .terms-policy p{
        font-size: 13px;
    }

    .media img{
        width: 25px;
    }

    .media img[alt="Facebook"]{
        width: 15px;
    }

    .copyright{
        font-size: 15px;
        margin: 70px 0;
    }
}

@media(max-width:820px){
    header nav a{
        font-size: 12px;
        margin: 0 20px;
    }

    header .logo{
        font-size: 20px;
    }

    header .search{
        font-size: 13px;
    }

    .follow{
        top: 16%;
    }

    .follow p{
        font-size: 14px;
    }

    .follow img{
        max-width: 18px;
    }

    .follow div{
        padding: 10px 0;
    }

    .title h1{
        font-size: 60px;
    }

    .title h1 span{
        font-size: 52px;
    }

    .scroll{
        font-size: 14px;
        margin-top: 45px;
    }

    main{
        margin-top: 30px;
    }

    .wrapper{
        padding-top: 200px;
    }

    h5.caption{
        font-size: 10px;
    }

    .two-frames h3,
    .bromo h3{
        font-size: 30px;
    }

    .tenggara p:first-of-type,
    .bromo p:first-of-type{
        font-size: 10px;
    }

    .read-more{
        font-size: 10px;
    }

    .read-more::after{
        content: "";
        background-image: url(../img/arrow_yellow_right.png);
        background-size: contain;
        display: inline-block;
        width: 15px;
        height: 10px;
    }

    .two-frames img,
    .two-frames figcaption{
        margin-bottom: 80px;
    }

    .bromo{
        margin-bottom: 80px;
    }

    .culture figcaption{
        padding-left: 15px;
    }

    .culture p:first-of-type{
        font-size: 10px;
    }

    .bottom .logo{
        font-size: 30px;
    }

    .btn p{
        font-size: 16px;
    }

    .btn button{
        font-size: 12px;
        padding: 10px 50px;
    }

    footer label{
        font-size: 18px;
    }

    footer nav form{
        padding-right: 8%;
    }

    footer input[type="submit"]{
        width: 35px;
        height: 35px;
        background-size: 20px;
    }

    footer input[type="email"]{
        width: 82%;
    }

    footer nav li{
        font-size: 11px;
    }

    footer nav ul li:first-child{
        font-size: 12px;
    }

    footer nav ul{
        margin-top: 0;
    }

    footer input[type="email"]::placeholder{
        font-size: 11px;
    }

    .social{
        margin-top: 50px;
    }

    .terms-policy p{
        font-size: 8px;
    }

    .media img{
        width: 18px;
    }

    .media img[alt="Facebook"]{
        width: 10px;
    }

    .copyright{
        font-size: 10px;
        margin: 50px 0;
    }
}

@media(max-width:380px){

    body{
        background-size: 200%;
    }

    header{
        padding: 30px 25px;
    }

    .wrapper{
        width: 100%;
        padding-top: 100px;
    }

    header nav,
    header .search{
        display: none;
    }

    header .menu{
        display: block;
        width: 15px;
        height: 15px;
    }

    header .menu img{
        width: 15px;
        height: 15px;
    }

    header .logo{
        font-size: 20px;
    }

    header .search{
        font-size: 13px;
    }

    .follow{
        display: none;
    }

    .title{
        text-align: center;
    }

    .title h1{
        font-size: 60px;
    }

    .title h1 span{
        font-size: 52px;
    }

    .tenggara{
        background-image: url(../img/image\ 1.png);
    }

    .culture{
        background-image: url(../img/01.png);
    }


    h5.caption::before{
        width: 30px;
        margin-right: 15px;
    }

    .wrapper h5.caption::after{
        width: 30px;
        margin-left: 15px;
        content: "";
        height: 2px;
        background-color: rgba(255, 193, 120, 1);
    }

    .scroll{
        font-size: 14px;
        margin-top: 150px;
    }

    main{
        margin-top: 65px;
    }

    h5.caption{
        font-size: 10px;
    }

    .two-frames img{
        display: none;
    }

    .two-frames figcaption{
        width: 100%;
    }

    .tenggara h3,
    .bromo h3,
    .culture h3{
        font-size: 30px;
    }

    .tenggara p:first-of-type,
    .bromo p:first-of-type,
    .culture p:first-of-type{
        font-size: 10px;
        font-weight: 600;
    }

    .read-more{
        font-size: 10px;
    }

    .read-more::after{
        content: "";
        background-image: url(../img/arrow_yellow_right.png);
        background-size: contain;
        display: inline-block;
        width: 15px;
        height: 10px;
    }

    .tenggara,
    .bromo,
    .culture{
        margin-bottom: 80px;
        position: relative;
    }

    .tenggara::before,
    .bromo::before,
    .culture::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(0,0,0,1) 100%);
    }

    .wrapper article{
        display: flex;
        margin: 0 auto;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 35%;
        flex-direction: column;
        text-align: center;
        background-position: center;
        background-size: auto;
    }

    .tenggara,
    .culture{
        padding: 0 25%;
    }

    .bottom{
        padding: 20px 10px;
    }

    .bottom .logo{
        font-size: 20px;
    }

    .btn p{
        font-size: 12px;
        margin-right: 10px;
    }

    .btn button{
        font-size: 10px;
        padding: 0 20px;
    }

    footer{
        padding: 0 10px;
        margin-top: 25px;
    }

    footer label{
        font-size: 12px;
    }

    footer nav form{
        padding-right: 8%;
    }

    footer input[type="submit"]{
        width: 35px;
        height: 35px;
        background-size: 20px;
    }

    footer input[type="email"]{
        width: 77%;
    }

    .email-form{
        margin-top: 25px;
    }

    footer nav li{
        font-size: 11px;
    }

    footer nav ul li:first-child{
        font-size: 12px;
    }

    footer nav ul{
        margin-top: 0;
        padding: 0 2%;
        line-height: 1.5;
    }

    footer input[type="email"]::placeholder{
        font-size: 11px;
    }

    .social{
        margin-top: 10px;
    }

    .terms-policy p{
        font-size: 8px;
    }

    .media img{
        width: 18px;
        margin: 0 10px;
    }

    .media img[alt="Facebook"]{
        width: 10px;
    }

    .copyright{
        font-size: 8px;
        margin: 25px 0;
    }
}